.money-maker-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap:1%;
}
.money-maker-facility{
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

body{
    background-image: url("../rsc/see-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}


table{
    align-content: center;
}

